#Demo

In [ ]:
first_glass, second_glass = input("Glass: ").split()

temp = first_glass
first_glass = second_glass
second_glass = temp
print(f'My first glass is {first_glass} and second glass is {second_glass}')

Glass: Teh Kopi
My first glass is Kopi and second glass is Teh

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
total = 0

for i in my_list:
  total=total+i
print(total)

55

In [ ]:
x = int(input())

for i in range(1,x+1):
  for j in range(i):
    print('*', end ="")
  print('')

3
*
**
***

#Challenge

##Challenge 1

In [ ]:
a, b, c = input().split()
## Input 2 3 1 
## Output A : 3, B : 2, C : 1

## Input 1 3 2
## Output A : 3, B : 2, C : 1

## Input 1 2 3
## Output A : 3, B : 2, C : 1

## Input 3 1 2
## Output A : 3, B : 2, C : 1

## Input 2 1 3
## Output A : 3, B : 2, C : 1

## code goes here

print(f'A : {a}, B : {b}, C : {c}')

2 3 1
A : 2, B : 3, C : 1

Berdasarkan problem soal nomor 1, tentukan jenis segitiga yang diinput:
*   Sisi Terpanjang^2 = Sisi pertama^2 + Sisi Kedua^2 (Segitiga siku-siku)
*   Sisi Terpanjang^2 < Sisi pertama^2 + Sisi Kedua^2 (Segitiga lancip)
*   Sisi Terpanjang^2 > Sisi pertama^2 + Sisi Kedua^2 (Segitiga tumpul)

In [1]:
a, b, c = [int(a) for a in input().split()]  
sisiterpanjang=""
sisi1=""
sisi2=""
print(f'A : {a}, B : {b}, C : {c}')
if a > b and a > c:
  sisiterpanjang=a
  sisi1=b
  sisi2=c
  if(((sisi1**2)+(sisi2**2))==(sisiterpanjang**2)):
    print("Output: segitiga siku-siku")
  elif(((sisi1**2)+(sisi2**2))<(sisiterpanjang**2)):
    print("Output: segitiga tumpul")
  elif(((sisi1**2)+(sisi2**2))>(sisiterpanjang**2)):
    print("Output: segitiga lancip")
elif b > a and b > c:
  sisiterpanjang=b
  sisi1=a
  sisi2=c
  if(((sisi1**2)+(sisi2**2))==(sisiterpanjang**2)):
    print("Output: segitiga siku-siku")
  elif(((sisi1**2)+(sisi2**2))<(sisiterpanjang**2)):
    print("Output: segitiga tumpul")
  elif(((sisi1**2)+(sisi2**2))>(sisiterpanjang**2)):
    print("Output: segitiga lancip")
else:
  sisiterpanjang=c
  sisi1=a
  sisi2=b
  if(((sisi1**2)+(sisi2**2))==(sisiterpanjang**2)):
    print("Output: segitiga siku-siku")
  elif(((sisi1**2)+(sisi2**2))<(sisiterpanjang**2)):
    print("Output: segitiga tumpul")
  elif(((sisi1**2)+(sisi2**2))>(sisiterpanjang**2)):
    print("Output: segitiga lancip")


## 4 3 2
## A : 4, B : 3, C : 2
## segitiga tumpul

## 3 4 2
## A : 4, B : 3, C : 2
## segitiga tumpul

## 4 2 3
## A : 4, B : 3, C : 2
## segitiga tumpul

## 2 4 3
## A : 4, B : 3, C : 2
## segitiga tumpul


## 3 4 5
## A : 5, B : 4, C : 3
## segitiga siku-siku

## 4 3 5
## A : 5, B : 4, C : 3
## segitiga siku-siku


## 1 3 3
## A : 3, B : 3, C : 1
## segitiga lancip

## 3 3 1
## A : 3, B : 3, C : 1
## segitiga lancip

## 3 1 3
## A : 3, B : 3, C : 1
## segitiga lancip

5 3 2
A : 5, B : 3, C : 2
Output: segitiga tumpul

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
## Output Odd number 10 and even number 10

In [ ]:
x = int(input())
## Input 4
## ****
## ***
## **
## *

## Input 5
## *****
## ****
## ***
## **
## *

5
*****
****
***
**
*

In [ ]:
x = int(input())

## Input 1
## Output [0]

## Input 3
## Output [0,1,1]

## Input 4
## Output [0, 1, 1, 2]

## Input 5
## Output [0, 1, 1, 2, 3]

## Input 8
## Output [0, 1, 1, 2, 3, 5, 8, 13]

8
[0, 1, 1, 2, 3, 5, 8, 13]

In [2]:
limit = int(input("Input "))
num1 = 0
num2 = 1
for z in range(0,limit): 
  if(z<=1): 
    num3 = z
  else: 
    num3 = num1+num2 
    num1 = num2
    num2 = num3
  print(num3,end=" ")

Input 9
0 1 1 2 3 5 8 13 21