## Important!! Please make a copy from this version to your own Google Colab.
File >> Save a Copy in Drive

## Commonly used shortcuts in Notebook -> save time!
* Esc + a -> create a new cell above
* Esc + b -> create a new cell below
* Shift + enter (return) -> run cell
* Shift + Tab -> check the properties and variables for a function

For more complete list: https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

# Control Flows

## if,elif, else Statements

In [ ]:
a = 15

b = 20

if a < b:
  print('A is lesser than B')

A is lesser than B

In [ ]:
if a > b:
    print('A is greater than B')
else:
    print('A is lesser than B')

2 2
A is equal to B

In [ ]:
if a > b:
    print('A is greater than B')
elif a == b:
    print('A is equal to B')
else:
    print('A is lesser than B')

A is lesser than B

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for i in seq:
  print(i)

1
2
3
4
5

In [ ]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [ ]:
for item in seq:
    print(item+item)

2
4
6
8
10

In [ ]:
#It can iterate over a dictionary as well

weekdays = ["Monday", "Tuesday", "Wednesday","Thursday","Friday"]
for i in weekdays:
  print(i)

Monday
Tuesday
Wednesday
Thursday
Friday

In [ ]:
#Looping through String

for i in "python":
  print(i)

1
2
3
4

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

#Lab Exercise #3

In [ ]:
#1. Resolve error

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
# 2. Make a program that lists the months in the list below using a while loop.
mlist = ["January","February","March","April"]

In [ ]:
#3. Make a program to print even numbers till 100

# Functions
Indentation matters!

In [ ]:
def my_first_function():
  print("This is my first python function")

In [ ]:
my_first_function()

This is my first python function

In [ ]:
def my_second_function(fname):
  print("Data " + fname)

In [ ]:
my_second_function("Analytics")

Data Analytics

In [ ]:
my_second_function("Science")

Data Science

In [ ]:
def square(x):
    return x**2

In [ ]:
print(square(4))

16

In [ ]:
print(square(5))

25

In [ ]:
#Difference between functions that return vs print.
def function_that_prints():
    print('This function prints')

def function_that_returns():
    return 'This function returns'

f1 = function_that_prints()
f2 = function_that_returns()
print ("Let's us see what the values of f1 and f2 are:")
print(f1)
print(f2)

This function prints
Let's us see what the values of f1 and f2 are:
None
This function returns

# Error Handling

In [ ]:
a = 100 / 0
print (a)

ZeroDivisionError: ignored

In [ ]:
print (ans)

NameError: ignored

In [ ]:
  a = 5
  b = "DataCamp"
  c = a + b

TypeError: ignored

In [ ]:
print (float('DataCamp'))

ValueError: ignored

In [ ]:
def my_first_function():
print("This is my first python function")

IndentationError: ignored

#Lab Exercise #4

In [ ]:
#1. Create and call a function which takes a parameter of text and prints/output it -  
# Expected result of my_func("I love Python")
#'I love Python'

In [ ]:
#2. Create a function which returns the sum of 2 values.
#   Sample Code below - 

def my_sum_func(x,y):
  <your_code_here> = x+y
  return <your_code_here>

print(<your code here>)

# Lab Exercise Answers #3 and #4

In [ ]:
#Extract Love from She Loves Data string.
word = 'She Loves Data'
# type your code here
word.split()[1][:4]

'Love'

In [ ]:
#How do we extract Robert's history grade?
dictionary = {'Robert': 
              {'mathematics':'A',
               'history':'C+',
               'physics': 'B'},
              'Suzie':
              {'mathematics':'A+', 
               'history':'B+',
               'physics': 'A-'}
              }
#type your code here
dictionary['Robert']['history']

'C+'

In [ ]:
#Given following variable, how do I output following? 
# When x is 2, x+2 is 4.
x = 2
#type your code here
print('When x is {}, x+2 is {}'.format(x,x+2))

When x is 2, x+2 is 4

In [ ]:
#Challenge question: How to reverse all the letters in the word?
word = 'I love Python'
#expected result: nohtyP evol I
#type your code here
word[::-1]

'nohtyP evol I'

In [ ]:
birth_year = 1988
this_year = 2022

### Type your code here...
# calculate the age
this_year - birth_year

34

In [ ]:
# Is it true that my age is now 30 years old? How do I write in Python?

# your code here...
my_age = 38
my_age == 30

False

In [ ]:
#How do I check if 843 is divisible by 9?

#type your code here
(843 % 9) == 0

False

## Lab Exercise #3

In [ ]:
#1. Resolve error
#1. Check this condition based on the input number

a = int(input())
b = int(input())
if b > a:
  print("b is greater than a")
elif b == a:
  print("b is equal to a")
else:
  print("b is smaller than a")

30
20
b is smaller than a

In [ ]:
# 2. Make a program that lists the months in the set below using a while loop.
# 2. Make a program that lists the months in the set until March
mlist = ["January","February","March","April","May","June","July","August","September","October","November","Desember"]
i=0
print("contoh: jika ingin menampilkan sampai march maka input batas angka 3")
batas=int(input("Batas output: "))
while i < batas:
  print(mlist[i])
  i+=1

contoh: jika ingin menampilkan sampai march maka input batas angka 3
Batas output: 3
January
February
March

In [ ]:
#3. Make a program to print even numbers till 100
#3. Make a program to print odd numbers till 100
for i in range(101):
  if i % 2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Lab Exercise #4

In [ ]:
#1. Create and call a function which takes a parameter of text and prints/output it -  
# Expected result of my_func("I love Python")
#'I love Python'
def my_print(text):
  print(text)

my_print('I love Python')

I love Python

In [ ]:
#2. Create a function which returns the sum of 2 values.
#   Sample Code below - 

def my_sum_func(x,y):
  sum = x+y
  return sum

print(my_sum_func(5,6))

11